@media screen and (min-width: 1400px){
    body{
        main{
            .wrapper{
                width: 75%;
                justify-content: space-evenly;
                .container__images{
                    .main__image_container{
                        .main__image{
                            width: 540px;
                            height: 540px;
                        }
                    }
                    .product__images{
                        .product__image{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .container__about{
                    .container__paragraph{
                        h2{
                            font-size: 16px;
                        }
                        h1{
                            font-size: 44px;
                        }
                        p{
                            font-size: 18px;
                        }
                    }
                    .container__details{
                        .container__price{
                            .container__inner{
                                .price{
                                    span:first-of-type{
                                        font-size: 38px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    body{
        header{
            height: 70px;
            .wrapper{
                width: 90%;
                .container{
                    .hamburger{
                        display: flex;
                    }
                    .nav__links{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        width: 250px;
                        height: 100vh;
                        background-color: #fff;
                        top: 0;
                        left: -250px;
                        transition: 0.5s;
                        .container__close{
                            width: 100%;
                            height: 70px;
                            .close__nav{
                                width: 16px;
                                height: 16px;
                                position: relative;
                                margin: 30px 30px;
                                cursor: pointer;
                                div{
                                    position: absolute;
                                    width: 16px;
                                    height: 3px;
                                    background-color: #69707D;
                                    &:first-of-type{
                                        transform: rotate(45deg);
                                    }
                                    &:nth-of-type(2){
                                        transform: rotate(135deg);
                                    }
                                }
                            }
                        }
                        a{
                            display: flex;
                            justify-content: start;
                            li{
                                font-weight: 700;
                                font-size: 20px;
                                color: #1D2026;
                                margin: 5px 30px;
                            }
                        }
                    }
                }
            }
        }
        main{
            .wrapper{
                justify-content: space-evenly;
                margin: 40px 0;
                width: 90%;
                .container__images{
                    .main__image_container{
                        .main__image{
                            width: 350px;
                            height: 350px;
                        }
                    }
                    .product__images{
                        .product__image{
                            width: 75px;
                            height: 75px;
                        }
                    }
                }
                .container__about{
                    .container__paragraph{
                        h2{
                            margin-top: 20px;
                        }
                        h1{
                            line-height: 36px;
                            font-size: 36px;
                        }
                        p{
                            margin-top: 10px;
                        }
                    }
                    .container__details{
                        .container__price{
                            .container__inner2{
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
        }
        .cart__modal{
            top: 80px;
        }
    }
}
@media screen and (max-width: 700px){
    body{
        main{
            .wrapper{
                .container__images{
                    .main__image_container{
                        .main__image{
                            width: 300px;
                            height: 300px;
                        }
                    }
                    .product__images{
                        .product__image{
                            width: 65px;
                            height: 65px;
                        }
                    }
                }
                .container__about{
                    .container__paragraph{
                        h2{
                            margin-top: 5px;
                            font-size: 12px;
                        }
                        h1{
                            margin-top: 10px;
                            font-size: 30px;
                        }
                        p{
                            margin-top: 5px;
                            line-height: 24px;
                        }
                    }
                }
                .container__details{
                    .container__price{
                        margin: 0;
                        .container__inner{
                            .price{
                                span:first-of-type{
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    body{
        header{
            .wrapper{
                border: 0;
            }
        }
        main{
            .wrapper{
                flex-direction: column;
                .container__images{
                    .main__image_container{

                    }
                }
            }
        }
    }
}